<div class="add-vehicle">
  <div class="add-vehicle__content">
    <div class="add-vehicle__content--header">
      <div class="page-header">
        <h1>Add Vehicle
          <small></small>
        </h1>
      </div>
    </div>
    <form class="add-vehicle__content--form">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="make">Make</label>
            <input id="make" type="text" class="form-control">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="model">Model</label>
            <input id="model" type="text" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <label>Is the Vehicle Registered?</label>
          <div class="radio">
            <label>
              <input type="radio" name="optradio">Yes</label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="optradio">No</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <label>Features</label>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">Feature 1</label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">Feature 2</label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">Feature 3</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="contactName">Contact Name</label>
            <input id="contactName" type="text" class="form-control">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="contactPhone">Contact Phone</label>
            <input id="contactPhone" type="text" class="form-control">
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label for="contactEmail">Contact Email</label>
            <input id="contactEmail" type="email" class="form-control">
          </div>
        </div>
      </div>
    </form>
  </div>
</div>